
<div fxLayoutAlign="center center" class="mb-3 mt-3">
  <mat-form-field appearance="fill" [ngStyle.xs]="{'width.%':90}" [ngStyle]="{'width.%': 60}">
    <mat-label>
      <mat-icon>calculate</mat-icon> Cantidad
    </mat-label>
    <input matInput type="number" placeholder="" required [(ngModel)]="articulo.cantidad">
    
  </mat-form-field>

</div>
<div  fxLayoutAlign="center" class="mb-3 mt-3">
  <mat-form-field appearance="fill" [ngStyle.xs]="{'width.%':90}" [ngStyle]="{'width.%': 60}">
    <mat-label>
      <mat-icon>square_foot</mat-icon> Medida
    </mat-label>

    <mat-select required [(ngModel)]="articulo.medida">
      <mat-option *ngFor="let medida of servicioDeDatos.medidasGenerales" [value]="medida">
        {{medida}}
      </mat-option>
    </mat-select>

  </mat-form-field>
</div>

<div *ngIf="hayCantidadYMedida()" fxLayout="column" fxLayoutAlign="center" class="mb-3">

  <div fxLayoutAlign="center">
    <mat-form-field appearance="fill" [ngStyle.xs]="{'width.%':90}" [ngStyle]="{'width.%': 60}">
      <mat-label>
        <mat-icon></mat-icon>
        Nombre
      </mat-label>
      <mat-select required [(ngModel)]="articulo.nombre">
        <mat-option *ngFor="let nombre of servicioDeDatos.tiposGenerales" [value]="nombre">
          {{nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  </div>

  <div  fxLayoutAlign="center">
    <mat-form-field *ngIf="this.articulo.nombre === 'Otra'" appearance="fill" [ngStyle.xs]="{'width.%':90}"
    [ngStyle]="{'width.%': 60}">
  
    <mat-label>
      Cual?
    </mat-label>
    <input matInput type="text" placeholder="..." required [(ngModel)]="nombreAuxiliar">
    
  </mat-form-field>
  </div>

<div *ngIf="hayNombre()"  fxLayout="column" fxLayoutAlign="center" class="mb-3">

  <div fxLayoutAlign="center">
    <mat-form-field appearance="fill" [ngStyle.xs]="{'width.%':90}" [ngStyle]="{'width.%': 60}">
      <mat-label>
        <mat-icon>branding_watermark</mat-icon>
        Marca
      </mat-label>
      <mat-select required [(ngModel)]="articulo.marca">
        <mat-option *ngFor="let marca of servicioDeDatos.tiposDeMarcas" [value]="marca">
          {{marca}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  </div>

  <div  fxLayoutAlign="center">
    <mat-form-field *ngIf="articulo.marca === 'Otra'" appearance="fill" [ngStyle.xs]="{'width.%':90}"
    [ngStyle]="{'width.%': 60}">
  
    <mat-label>
      Cual?
    </mat-label>
    <input matInput type="text" placeholder="..." required [(ngModel)]="marcaAuxiliar">
    
  </mat-form-field>
  </div>

<mat-form-field *ngIf="mostrarDescripcionOInputFile()" class="mr-4" appearance="fill" fxFill >
  <mat-label>
    <mat-icon></mat-icon> Descripción
  </mat-label>

    <textarea matInput 
       placeholder="Opcional" [(ngModel)]="articulo.descripcion">
    </textarea>
 
</mat-form-field>

<button mat-raised-button fxFill class="mt-4" (click)="desaparecerFormulario()">Cancelar</button>

<button [disabled]="bloquearBoton()" fxFill mat-raised-button color="primary" class="mt-4 mb-5"
  (click)="enviarArticulo()">Guardar</button>