<br><br><br>

<div fxLayoutAlign="center">
  <h1><b><span *ngIf="this.nombreYApellido; else anfitrion"> Artículos de {{this.nombreYApellido}}</span>
      <ng-template #anfitrion>Tus Artículos</ng-template>
    </b>
  </h1>
</div>
<mat-divider></mat-divider>
<br>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
  
  <div fxFlex="20" fxFlex.lg="15" fxFlex.sm="30" *ngFor="let articulo of articulos; let i = index">

    <app-tarjeta-articulo [esInvitado]="esInvitado" [articulo]="articulo" [index]="i" (emitirIndex)="eliminarArticuloConIndex($event)">
    </app-tarjeta-articulo>

  </div>

</div>